{% extends "layout.html" %}
{% block content %}
    <h1>Here is about page</h1>
 <!-- Article style section -->
  <div class="py-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-5 order-2 order-md-1"> <img class="img-fluid d-block my-3 mx-auto animate-in-left" src="assets/app/iphone_side_light.jpg" width="200"> </div>
        <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center">
          <h2>Company history</h2>
          <p class="my-4 text-muted">Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group.</p> <a class="btn btn-outline-primary" href="#features">Learn more</a>
        </div>
      </div>
      <div class="row pt-5">
        <div class="align-self-center col-lg-7 text-md-left text-center">
          <h2>Hey warit</h2>
          <p class="my-4 text-muted">Hello warit.</p> <a class="btn btn-primary shadowed" href="#download">Download</a>
        </div>
        <div class="align-self-center mt-5 col-lg-5"> <img class="img-fluid d-block animate-in-right" src="assets/app/iphone_ipad_light.png"> </div>
      </div>
      <hr class="mt-0">
    </div>
  </div>
{% endblock content %}
